* {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 5vh;
}

body > #root > div {
  min-height: 100vh;
}

img {
  max-width: 80vw
}

a {
  color: #C0C0C0;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color:  #ffffff;
  flex-grow: 1;
  font-size: 5vh;
}

.main {
  margin: 0 0 30px 0;
  flex-grow: 50;
}

.footer {
  display: block;
  background-color: rgba(0, 0, 0, .5);
  flex-grow: 1;
  color: #FFFFFF;
}

.dropbtn {
  margin: 0;
  background-color: #000000;
  color: #C0C0C0;
  padding: 2px;
  font-size: 5vh;
  border: none;
}

.dropbtn:hover {
  color: #FFFFFF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 2;
}

.dropdown-content a {
  color: #C0C0C0;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 4vh;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  color: #FFFFFF;
}

.copyright {
  font-size: 3vh;
  color: #FFFFFF;
}

.main-form {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  padding: 20px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 2vh;
}

.credit {
  font-size: 2vh;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper:hover .info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photographer {
  font-size: 3vh;
}

.save {
  /* width: 7vh; */
  /* height: 2.5vh; */
  font-size: 1.5vh;
  background: red;
  border: 0;
  text-align: center;
  /* vertical-align: center; */
}

.random {
  margin-top: 20px;
}

.random-photo {
  max-width: 80vw;
}

.all-photos {
  margin-top: 20px;
}

#search {
  height: 8px;
  border-radius: 2px;
  border: none;
  padding: 20px 15px;
  text-align: left;
  font-size: 18px;
  margin: 0 10px 0 0;
  width: 50vw;
}

#submit-search {
  display: none;
}

#website {
  font-size: 2vh;
  color: #FFFFFF;
}

@media screen and (min-width: 600px) {
  .images {
    width: 45vw;
  }
  section {
    width: 50vw;
  }
  .all-photos {
    column-count: 2;
    column-gap: 0;
  }
}

@media screen and (min-width: 900px) {
  .images {
    width: 30vw;
  }
  section {
    width: 33vw;
  }
  .all-photos {
    column-count: 3;
    column-gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .images {
    width: 23vw;
  }
  section {
    width: 25vw;
  }
  .all-photos {
    column-count: 4;
    column-gap: 0;
  }
}
