* {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 5vh;
}

body > #root > div {
  min-height: 100vh;
}

img {
  max-width: 80vw
}

a {
  color: #C0C0C0;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color:  #ffffff;
  height: 50px;
  flex-grow: 1;
}

.main {
  margin: 30px 0;
  flex-grow: 50;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  flex-grow: 1;
}

.dropbtn {
  margin: 0;
  background-color: #000000;
  color: #C0C0C0;
  padding: 2px;
  font-size: 30px;
  border: none;
}

.dropbtn:hover {
  color: #FFFFFF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 1;
}

.dropdown-content a {
  color: #C0C0C0;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  color: #FFFFFF;
}

.copyright {
  font-size: 3vh;
  color: #FFFFFF;
}

.main-form {
  margin-bottom: 30px;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.photographer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper:hover .photographer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  color: white;
  display: block;
}

.credit {
  font-size: 3vh;
}

#search {
  height: 8px;
  border-radius: 2px;
  border: none;
  padding: 20px 15px;
  text-align: left;
  font-size: 18px;
  margin: 0 10px 0 0;
  width: 50vw;
}

#submit-search {
  display: none;
}
